    body
    {
    direction: rtl;
    height: 200vh;  
    margin-top: 80px;  
    padding: 30px;  
    background-size: cover;  
    font-family: sans-serif;  
    }  
    header {  
    direction: rtl;
    background-color: orange;  
    position: fixed;  
    left: 0;  
    right: 0;  
    top: 10px;  
    height: 40px;  
    display: flex;  
    align-items: center;  
    box-shadow: 4px 4px 5px 4px black;  
    }  
    header * {  
    display: inline;  
    }  
    header li {  
    margin: 30px;  
    }  
    header li a {  
    color: rebeccapurple;  
    text-decoration: none;  
    }  
    footer{  
    direction: rtl;
    background-color: rgba(255, 166, 0, 0.712);  
    position: fixed;  
    left: 0;  
    right: 0;  
    bottom : 5px;
    height: 40px;  
    display: flex;  
    align-items: center;  
    box-shadow: 4px 4px 5px 4px black;  
    }  
    footer * {  
    display: inline;  
    } 
    footer li {  
    margin: 30px;  
    }  
    footer li a {  
    color: rebeccapurple;  
    text-decoration: none;  
    }  
